import { Meta } from '@storybook/addon-docs';

<Meta title="{{type}}/{{functionName}}" />

# {{functionName}}

함수 사용법을 작성하세요.

### Example

```js
import { {{functionName}} } from 'doum';

console.log('example1', {{functionName}}(2)); // true
...
```

### Reference

```js
function {{functionName}}(num: number): boolean {}
```

### Importing

```js
import { {{functionName}} } from 'doum';
```

### Arguments

- **num** _`number`_  숫자


### Return
- **참/거짓** _`boolean`_
