'use strict';

/**
 * {{functionName}}
 * @example {{functionName}}(0) => true,
 * @param {number} num 숫자
 * @returns {boolean}  
 */
export function {{functionName}}(num: Number): boolean {
  return num === 0;
}
